<!DOCTYPE html>
<html>
<head><title>Stroke Form</title></head>
<body>
  <form method="post" action="/predict">
    Gender: <input name="gender"><br>
    Age: <input name="age" type="number"><br>
    Hypertension: <input name="hypertension"><br>
    Heart Disease: <input name="heart_disease"><br>
    Married: <input name="ever_married"><br>
    Work Type: <input name="work_type"><br>
    Residence Type: <input name="Residence_type"><br>
    Avg Glucose: <input name="avg_glucose_level"><br>
    BMI: <input name="bmi"><br>
    Smoking Status: <input name="smoking_status"><br>
    <button type="submit">Predict</button>
  </form>
</body>
</html>
